.div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px rgb(44, 44, 44);
  border-radius: 10px;
  width: 370px;
}
.text {
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px rgb(44, 44, 44);
  border-radius: 5px;
}
